body{
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Sports World-Regular';
  font-display: auto;
  src: url('../fonts/World-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Thin';
  font-display: auto;
  src: url('../fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-display: auto;
  src: url('../fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  font-display: auto;
  src: url('../fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-display: auto;
  src: url('../fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  font-display: auto;
  src: url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
}

main{
  background: rgb(210,4,5);
  padding: 0.1px;
}

.narrowBG{
  background-image: url('../images/narrowBG.jpg');
  background-size: 100% 100%;
  width: 83.659vw;
  height: 39.618vw;
  position: absolute;
}

button:hover{
  cursor: pointer;
}

.circle{
  width: 16.666vw;
  height: 16.666vw;
  position: absolute;
  background-color: rgba(255,202,255,0.22);
  border-radius: 50%;
  top: -0.5vw;
  right: 2.793vw;
  animation-name: circle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  box-shadow: 0px 0px 132px -5vw rgba(0,0,0,1);
}

@keyframes circle {
  0%{
    top: -0.5vw;
    right: 2.793vw;
  }
  25%{
    top: 0vw;
    right: 2.3vw;
  }
  75%{
    top: -0.5vw;
    right: 2.3vw;
  }
  100%{
    top: -0.5vw;
    right: 2.793vw;
  }
}
/* anima arrow */

.bannerAnimArrow {
  top: 36vw;
  position: absolute;
  width: 1.4px;
  height: 11.11vw;
  background-color: rgb(250,509,50);
  margin-left: 44%;
  animation-name: bannerAnimArrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bannerAnimInnerArrow{
  position: absolute;
  bottom: -5px;
  left: -5px;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(250,509,50);
  border-left: 1px solid rgb(250,509,50);
}
@keyframes bannerAnimArrow{
  0%{
    height: 1vw;
  }
  100%{
    height: 11.11vw;
  }
}


.logo{
  position: relative;
  width: 32.3817vw;
  height: 6.1918vw;
  margin-left: 6.625vw;
  margin-top: 1.455vw;
}

h1{
  position: relative;
  font-family: 'Sports World-Regular',serif;
  font-size: 5.5865vw;
  color: white;
  margin-left: 6.34vw;
  margin-top: 4.75vw;
  line-height: 0.8;
  margin-bottom: 2vw;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 1);
}
h1 span{
  font-size:2.56vw;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0);
}

.hOne{
  transition: 2s;
  /* opacity: 0; */
}

.easyFreeWorksBox{
  transition: 0.5s;
  /* opacity: 0; */
  position: relative;
  /* outline: 1px solid rgba(255,157,53,0.5); */
  background: rgba(255,255,255,0.20);
  width:29.8731vw;
  margin-left: 5.821vw;
  /* margin-left: -34.179vw; */
  padding: 0.1px;
  padding-bottom: 1.5vw;
  padding-left: 1vw;
}

.easyFreeWorksBox h2{
  font-family: 'Roboto-BoldItalic',serif;
  color: white;
  font-size: 2.1829vw;
  margin-bottom: -0.9vw;
  margin-top: 0.9vw;
}

.easyFreeWorksBox p{
  font-family: 'Roboto-Regular',serif;
  color: white;
  font-size: 1.2474vw;
}

.glitter{
  background-image: url('../images/glitter.png');
  background-size: 100% 100%;
  width: 14.851vw;
  height: 22.811vw;
  position: absolute;
  top: 14vw;
  left: 20vw;
}

.getStartedNow{
  transition: 0.5s;
  width: 5.613vw;
  background: rgba(210,4,5,0.5);
  height: 63vw;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

.getStartedNow:hover{
  background: rgba(255,255,255,1);
  cursor: pointer;
}

.getStartedNow p{
  color: rgb(255,213,51,0.7);
  font-family: 'Sports World-Regular',serif;
  writing-mode: tb-rl;
  font-size: 3.542vw;
  /* padding-bottom: 8vw; */
}

/* floatingDiv floatingDiv */
.floatingDiv{
  padding: 0.1px;
  text-align: center;
  width: 80vw;
  /* height: 64.553vw; */
  background: white;
  position: relative;
  margin-left: 50%;
  margin-top: 15.7821vw;
  margin-bottom: 10.335vw;
  left: -40vw;
  box-shadow: 0px 0px 167px -55px rgba(0,0,0,0.75);
}

.floatingDiv p:nth-child(1){
  font-family: 'Roboto-Light',serif;
  font-size: 3.1185vw;
  margin: 0;
  margin-top: 8vw;
}

.floatingDiv p:nth-child(2){
  margin: 0;
  font-family: 'Roboto-Bold';
  font-size: 3.7422vw;
  color: rgb(255,62,81);
  margin-top: -0.2vw;
}

.floatingDiv p:nth-child(3){
  margin: 0;
  font-size: 6.237vw;
  font-family: 'RobotoSlab-Thin';
  margin-top: -0.6vw;
}

.floatingDiv p:nth-child(4){
  font-size: 1.5592vw;
  font-family: 'Roboto-Light';
  line-height: 1.6;
  margin-top: 3.6vw;
}

.floatingDiv h2{
  font-family: 'RobotoSlab-Thin';
  font-size: 5.1975vw;
  color: rgb(255,62,81);
  margin-top: 7vw;
  line-height: 1.15;
}

.floatingDiv h2 span{
  font-family: 'Roboto-Bold',serif;
}

/* campingDonorsEct */
.campingDonorsEct{
  position: relative;
  display: flex;
  /* border: 1px solid black; */
  justify-content: center;
  margin-top: 15.1247vw;
  margin-bottom: 5.0279vw;
}

.circleDiv{
  margin-left: 2.286vw;
  margin-right: 2.286vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16.787vw;
  height: 16.787vw;
  border-radius: 50%;
  border: 2px solid rgb(220,78,56);
}

.circleDiv p:nth-child(2){
  margin: 0;
  font-family: 'Roboto-Light',serif;
  font-size: 2.4948vw;
}

.circleDiv p:nth-child(3){
  margin: 0;
  font-family: 'Roboto-Regular',serif;
  font-size: 1.2474vw;
  color: rgb(220,78,56);
}

/* teamsWeHelped */
.teamsWeHelped{
  font-family: 'RobotoSlab-Thin',serif;
  font-size: 3.742vw;
  text-align: center;
  margin: 0;
  margin-top: 3.49vw;
  font-weight: 100;
}

.teamsHelpedImg{
  width: 100%;
  height: 24.792vw;
}
/* success */
.success{
  position: relative;
  background: black;
  height: 22.869vw;
  padding: 0.1px;
}

.success h2{
  font-family: 'RobotoSlab-Thin',serif;
  color: rgb(216,38,55);
  text-align: center;
  font-size: 13.8vw;
  margin: 0;
  font-weight: 100;
  margin-top: 8vw;
}

.success h2 span{
  font-size: 4.3vw;
  margin-left: -3vw;
}

.blackTriangle {
  z-index: 1;
  background: black;
  width: 2.3388vw;
  height: 5vw;
  position: absolute;
  transform: skewY(50deg);
  bottom: -1vw;
  margin-left: 3vw;
}

/* paulRozzeelleContainer */
.paulRozzeelleContainer{
  position: relative;
  padding: 0.1px;
  height: 42.671vw;
  background-color: rgb(216,38,55);
  box-shadow: 0px 0px 92px -19px rgba(0,0,0,0.75);
}

.paulRozzeelleContainer h2 {
  position: relative;
  font-family: 'Roboto-Bold',serif;
  font-size: 5.6vw;
  font-weight: 900;
  color: white;
  margin-top: 1.2vw;
  margin-left: 7vw;
  margin-bottom: 0;
}

.paulRozzeelleContainer hr{
  width: 78.274vw;
  color: white;
  margin-left: 4.833vw;
}

.headBaseBall{
  font-family: 'Roboto-Regular',serif;
  font-size: 1.3vw;
  margin: 0;
  margin-left: 5vw;
}

.paulTextDiv{
  padding: 0.1px;
  width: 64.5vw;
  height: 28.274vw;
  background-color: rgba(238,242,237);
  position: relative;
  margin-left: 19vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  border-top-left-radius: 1vw;
  margin-top: 1.6vw;
}

.paulSkewDivContainer {
    position: absolute;
    height: 99%;
    width: 8.4vw;
    left: -8.1vw;
    bottom: 0;
    /* border: 2px solid yellow; */
    border-bottom-left-radius: 1vw;
    overflow: hidden;
}
.paulSkewDiv {
    position: absolute;
    height: 102%;
    top: 16vw;
    width: 10vw;
    right: 0;
    background-color: rgba(238,242,237);
    transform: skewY(107deg);
    border-radius: 0vw;
}

.OnlinePaulP{
  text-align: justify;
  font-family: 'Roboto-Regular',serif;
  font-size: 2.3vw;
  color: rgb(89,87,89);
  margin-top: 10vw;
  margin-left: 1vw;
  width: 87%;
}

.paulRozelSig{
  margin-left: 1vw;
  font-family: 'Roboto-Light',serif;
  font-size: 1.6vw;
}

.squaresSelect{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10.446vw;
  top: 21.985vw;
}

.littleSquare{
  background: black;
  border: 2px solid white;
  transform: rotate(45deg);
  width: 0.7vw;
  height: 0.7vw;
  margin: 0.5vw;
}
.littleSquare:nth-child(2){
  background-color: white;
}

/* watchVideoContainer */
.watchVideoContainer{
  width: 80.353vw;
  height: 28.846vw;
  background-color: rgb(238,238,238);
  position: relative;
  margin-left: 50%;
  margin-top: 9.0956vw;
  left: -40.175vw;
  margin-bottom: 11.538vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.watchVideoContainer h2{
  font-family: 'RobotoSlab-Thin',serif;
  font-size: 3.2vw;
  font-weight: 100;
  color: rgb(96,98,107);
  margin: 0;
  line-height: 1.2;
}
.watchVideoContainer h2 a{
  text-decoration: none;
  color: rgb(96,98,107);
  margin: 0;
}
.watchVideoContainer h3{
  font-family: 'RobotoSlab-Thin',serif;
  color: rgb(96,98,107);
  font-weight: 100;
  margin: 0;
  font-size: 1vw;
}

.watchVideoContainer button{
  background-color: rgb(107,95,235);
  width: 21.413vw;
  height: 4.521vw;
  border: none;
  font-size: 2.2vw;
  font-family: 'Roboto-Light',serif;
  border-radius: 0.5vw;
  margin-top: 2.079vw;
  color: white;
  position: relative;
  overflow: hidden;
}

.watchVideoContainer button p{
  margin: 0;
  position: relative;
}

.divInsideButton{
  transition: 1s;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: rgb(248,217,45);
}

/* footer */
footer{
  height: 26.143vw;
  background: rgb(27,27,27);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img{
  margin-top: 7.5vw;
  width: 24.896vw;
  height: 4.158vw;
}

.Charleston{
  font-family: 'Roboto-Light',serif;
  color: rgb(122,123,128);
  font-size: 1.3vw;
  text-align: center;
  margin: 0;
  line-height: 1.1;
}

.tel{
  text-decoration: none;
  color: rgb(255,213,69);
  font-family: 'Roboto-Regular',serif;
  font-size: 6.1vw;
  margin-top: -1vw;
}

.termsAndConditions{
    margin: 0;
    margin-top: -0.6vw;
}

.termsAndConditions a{
  font-family: 'Roboto-Light',serif;
  text-decoration: none;
  color: rgb(122,123,128);
  font-size: 0.8vw;
}

/* banner */
.banner {
  padding: 0.1px;
  position: relative;
  width: 86.359vw;
  height: 43.528vw;
  background-position: 50% 100%;
  /* overflow: hidden; */
  margin-left: 50%;
  left: -43.175vw;
  /* background: radial-gradient(ellipse at center, rgba(238,200,255,1) 0%, rgba(82,43,255,1) 100%); */
  box-shadow: 0px 48px 101px -39px rgba(0,0,0,0.8);
  z-index: 1;
}

.skewBG {
  position: absolute;
  background-image: url(../images/skewBG.png);
  background-size: 100% 100%;
  top: 0;
  left: 0;
  height: 100%;
  width: 61.545vw;
}

/* .vidDiv {
  transition: 2s;
  position: absolute;
  width: 50.279vw;
  height: 47.8584vw;
  right: 0vw;
  bottom: 0;
  overflow: hidden;
}
.vidDiv img{
  width: 100%;
  height: 100%;
} */
.bannerImage{
  width: 62.1042vw;
  height: 50.6517vw;
  position: absolute;
  top: 0;
  right: 0;
}

.textBox{
  position: relative;
}
